body {
    background: #edeff1;
    /* background: #edeff1; */
}

.header {
    display: flex;
    /* margin-top: 50px; */
    /* margin-left: 30px; */
    /* justify-content: center; */
    height: 150px;
    /* width: 200px; */
    /* width: 100%; */
    background-color: white;
}
.cart-img {
    display: flex;
    align-items: center;
}
.cart-img img {
    margin-right: 10px;
}
.header .alledrogo {
    margin-top: 30px;
    height: 50px;
    margin-left: 30px;
}
.header .cartbutton {
    display: flex;
    /* margin-top: 50px; */
    margin-top: 30px;
    /* margin-left: 30px; */
    margin-left: 800%;
    /* justify-content: center; */
    height: 50px;
    width: 70px;
    cursor: pointer;
}
.header .category {
    margin-left: 22%;
    margin-top: 40px;
    /* margin-left: 30px; */
}
.header .category select {
    width: 200px;
    height: 41px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}
.header .category .promocode {
    width: 300px;
    height: 37px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.header .category .submit {
    width: 100px;
    height: 41px;
    border: 1px solid #ff5c04;
    /* border-radius: 3px; */
    color:white;
    background-color: #ff5c04;
    /* text-align: center; */
}

.header h1 {
    background-color: white;
}
.closemodal {
    margin-left: 1%;
    width: 100px;
    height: 37px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}